<template>
  <div id="app">
    <app-header />
    <transition name="fade">
      <router-view />
    </transition>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import "bulma/css/bulma.css";

import AppHeader from "./layout/Header";

export default {
  components: { AppHeader },
  methods: {
    ...mapActions({
      getBackgroundImage: "getBackgroundImage"
    })
  },
  created() {
    this.getBackgroundImage();
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/animations.scss";

body {
  min-height: 100vh;
  background: #999;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
