<template>
  <div v-if="ready" class="home">
    <div class="centered-content">
      <h1>Write in simplicity:<br> with JOURNALA</h1>
      <button class="button is-primary is-large" @click.prevent="$router.push('/journal')">TRY JOURNALA DEMO</button>
    </div>
    
    <div class="background">
      <img src="/img/journala.jpg" />
    </div>
    
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
import { setTimeout } from 'timers';

export default {
  name: "home",
  data() {
    return {
      ready: false
    }
  },
  mounted() {
    setTimeout(() => {
      this.ready = true;
    }, 500);
  }
};
</script>

<style lang="scss" scoped>
.centered-content {
  position: relative;
  z-index: 1;
  text-align: center;
}
h1 { 
  font-size: 9em;
  color: #fff;
  font-weight: 900;
  text-shadow: 8px 8px 24px rgba(0,0,0,0.5);
}
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 0;
}
</style>

