<template>
  <div v-show="backgroundImageUrl" class="journal">
    <div class="background" id="background"></div>
    <transition name="fade">
      <div v-show="ready" class="paper container" :class="{'show-editor': editor}">
        <input class="input-title" type="text" v-model="journal.title" placeholder="Title" />
        {{ journal.lastEditedDate }}
        <quill-editor v-model="journal.content" />
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { quillEditor } from "vue-quill-editor";

import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";

export default {
  name: "Journal",
  components: { quillEditor },
  data() {
    return {
      ready: false,
      journal: {
        title: "",
        content: "",
        publishDate: new Date(),
        lastEditedDate: null
      }
    };
  },
  computed: {
    ...mapGetters({
      backgroundImageUrl: "getBackgroundImageUrl",
      editor: "getEditor"
    })
  },
  watch: {
    backgroundImageUrl: function() {
      this.setBackgroundImage();
    },
    journal: {
      handler: function(journal) {
        localStorage.setItem("journal", JSON.stringify(journal));
      },
      deep: true
    }
  },
  methods: {
    setBackgroundImage() {
      document.getElementById(
        "background"
      ).style.backgroundImage = `url(${this.backgroundImageUrl})`;
    },
    strip(text) {
      return text.replace(/<[^>]*>?/gm, "");
    }
  },
  mounted() {
    if (localStorage.getItem("journal"))
      this.journal = JSON.parse(localStorage.getItem("journal"));
    this.setBackgroundImage();
    setTimeout(() => {
      this.ready = true;
    }, 600);

    const eventTarget = document.getElementsByClassName("ql-editor")[0];
    let lastBodyHeight = document.body.scrollHeight;
    eventTarget.addEventListener("keyup", () => {
      let newBodyHeight = document.body.scrollHeight;
      const currentDocumentHeight =
        document.documentElement.scrollTop +
        document.documentElement.clientHeight;
      if (
        newBodyHeight > lastBodyHeight &&
        currentDocumentHeight === lastBodyHeight
      ) {
        window.scrollBy(0, 50);
      }
      lastBodyHeight = newBodyHeight;
    });
  },
  beforeDestroy() {
    this.journal.lastEditedDate = new Date();
  }
};
</script>

<style lang="scss">
/* Reset for quill editor */

.ql-toolbar.ql-snow {
  border: 0;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.3s, max-height 0.5s ease-in-out;
  /* remove unneeded items from editor */
  .ql-script,
  .ql-image,
  .ql-clean {
    display: none;
  }
}

.show-editor {
  .ql-toolbar.ql-snow {
    opacity: 1;
    height: auto;
    max-height: 150px;
  }
}

.ql-container {
  font-size: 16px;
  &.ql-snow {
    border: 0;
  }
}
.background {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  background: no-repeat center center fixed;
  background-size: cover;
  z-index: 0;
}
.paper {
  min-height: 80vh;
  background: #fff;
  margin: 15px auto 60px;
  padding: 15px;
  transition: 0.5s ease-in-out;
  .input-title {
    border: 0;
    width: 100%;
    outline: 0;
    font-size: 2em;
    padding: 12px 15px;
    color: #444;
  }
}

@media (min-width: 800px) {
  .paper {
    padding: 30px 60px;
  }
}
</style>
