<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <router-link class="navbar-item" :to="'/'">
        <img src="/logo_square.svg" width="160" height="45" />
      </router-link>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <router-link class="navbar-item" to="/journal">
          Try Journala
        </router-link>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <a href="#" :class="{disabled: !editor}" @click="setEditor(!editor)">Editor</a>
        </div>
        <div class="navbar-item">
          <a href="#" @click="toggleFullScreen">Fullscreen</a>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  computed: {
    ...mapGetters({
      editor: "getEditor"
    })
  },
  methods: {
    ...mapActions({
      setEditor: "setEditor"
    }),
    toggleFullScreen() {
      const doc = window.document;
      const docEl = doc.documentElement;

      const requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
      const cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

      const condition = !doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement;

      condition
        ? requestFullScreen.call(docEl)
        : cancelFullScreen.call(doc);
    }
  }
};
</script>

<style lang="scss" scoped>
.navbar {
  background-color: transparent;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0));
  color: #fff;
}
.navbar-menu {
  z-index: 1;
  position: relative;
}
.navbar-item {
  color: #fff;
  img {
    max-height: 45px;
  }
  a {
    color: #fff;
  }
} 
</style>
